<template>
  <pre>{{ minification }}</pre>
</template>

<script lang="ts" src="./MinifierDisplay.ts"></script>

<style scoped>
pre {
  font-family: "OpenDyslexicMono", "Noto Sans Mono", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Courier New", monospace;
  white-space: normal;
}
</style>
