<template>
  <pre>{{ prettyExprStr }}</pre>
</template>

<script lang="ts" src="./PrettyPrintedDisplay.ts"></script>

<style scoped>
pre {
  text-align: left;
  font-family: "OpenDyslexicMono", "Noto Sans Mono", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Courier New", monospace;
  white-space: pre;
}
</style>
