<template>
  <div id="app">
    <h1>Pretty-print and Minify Your (Untyped) Lambda Calculus</h1>
    <textarea
      v-model="exprStr"
      placeholder="Any (untyped) Lamada Calculus Expression"
    />
    <div id="lower_overlaid">
      <div
        id="lower_overlay"
        v-bind:class="{ invisible: !parseError }"
        style="height: 100%"
      >
        <div id="error_box">
          <h3 id="parse_error">{{ parseError }}</h3>
        </div>
      </div>
      <table id="lower">
        <tr>
          <td id="ll"><PrettyPrintedDisplay v-bind:expr="lastGoodExpr" /></td>
          <td id="lr"><MinifierDisplay v-bind:expr="lastGoodExpr" /></td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script lang="ts" src="./App.ts"></script>

<style scoped>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

#lower_overlaid {
  position: relative;
}

#lower_overlay {
  display: table;
  position: absolute;
  top: 0; /* height 100%; */
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

#lower_overlay.invisible {
  display: none;
}

#error_box {
  margin: auto;
  min-width: 33%;
  min-height: 33%;
  display: table-cell;
  vertical-align: middle;
}

#parse_error {
  color: #f33;
  text-shadow: -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    1px 1px 0 black;
  background-color: #033;
}

#lower {
  width: 100%;
}

#lr {
  max-width: 50%;
}

textarea {
  max-width: 120em;
  width: 100%;
}
</style>
